/* Vars ----------------------------------------------------*//* Mixins ----------------------------------------------------*/
#social-bar {
  display: block;
  float: right;
  margin-right: 30px;
  margin-top: 62px;
  position: relative;
}
#social-bar li {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  width: 32px;
  height: 32px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  -moz-border-radius: 40px 40px 40px 40px;
  -webkit-border-radius: 40px 40px 40px 40px;
  border-radius: 40px 40px 40px 40px;
}
#social-bar li a {
  position: absolute;
  height: 66px;
  width: 32px;
  top: 0;
  left: 0px;
  background-repeat: no-repeat;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
#social-bar li a:hover {
  top: -32px;
}
